@page "/"

<PageTitle>Thinktecture Contributions</PageTitle>
<MudAppBar>
    <MudSpacer />
    <MudTextField Placeholder="Search for Contribution"                  
                  Adornment="Adornment.End" 
                  AdornmentIcon="@Icons.Filled.Search" 
                  AdornmentColor="Color.Primary" 
                  DebounceInterval="500"
                  Value="_searchTerm" 
                  ValueChanged="(string term) => Search(term)"></MudTextField>
    <MudSpacer />
    <MudIconButton Color="Color.Primary" Icon="@Icons.Outlined.AddCircle" OnClick="() => CreateOrUpdateContribution()"></MudIconButton>
</MudAppBar>


@if (_isInitilazing)
{
    <p>Loading...</p>
}
else
{
    <Virtualize @ref="_virtualize" ItemsProvider="LoadCollection" Context="contribution">
        <ItemContent>
            <div class="d-flex justify-space-between mud-elevation-4 py-8 px-10 mb-8 rounded white item-row">
                <div class="d-flex flex-column flex-start">
                    <div>
                        <MudHighlighter Style="width: min-content; text-transform: capitalize;" HighlightedText="@_searchTerm" Text="@contribution.Title"></MudHighlighter>
                    </div>
                    <MudText Typo="Typo.caption">Speakers: @SpeakerString(contribution)</MudText>
                </div>
                <div class="d-flex edit-action">
                    <MudIconButton Icon="@Icons.Filled.Edit" OnClick="() => CreateOrUpdateContribution(contribution)"></MudIconButton>
                    <MudIconButton Icon="@Icons.Filled.Delete" OnClick="() => DeleteContribution(contribution.Id)"></MudIconButton>
                </div>
            </div>
        </ItemContent>
        <Placeholder>
            <div class="d-flex align-center mud-elevation-4 py-8 px-10 mb-8 rounded white">
                <MudSkeleton Class="flex-1" Style="width: 100%" />
            </div>
        </Placeholder>
    </Virtualize>
}

